body{

margin: 0;
padding: 0;    
}

.navbar{
    position: relative;
    align-items: center;
}
.navbar-brand {
    display: inline-block;
}

.container {

    border: 5px solid red;
    width: 100%;
    height: 100%;
    display: block;
    
}

/* #main {
} */

.city-and-date{
    display: inline-flex;
}

/* .forecastCards{
text-align: justify;
} */

/* #day1 #day2 #day3 #day4 #day5 {

    border: 5px solid black !important;
} */

